[Unit]
Description=Shadowsocksr Node Service

[Service]
ExecStart=/usr/bin/nohup /usr/bin/python /soft/shadowsocks/server.py m>> /soft/shadowsocks/ssserver.log 2>&1 &
ExecStop=/usr/bin/bash /soft/shadowsocks/stop.sh

[Install]
WantedBy=multi-user.target