[Unit]
Description=Shadowsocksr Node Service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/soft/logrun.sh
ExecStop=/soft/stop.sh

[Install]
WantedBy=multi-user.target